@charset "utf-8";
/* CSS Document */

/* Responsive */
@media only screen and (max-width: 767px) {
	#restaurants-list li {
		width: 100%;
	}
	body {
		margin: 0;
	}
	nav h1 a {
		font-size: 2em;
		letter-spacing: .2em;
	}
}
@media only screen and (min-width: 768px) {
	#restaurants-list li {
		width: 40%;
	}
	body {
		margin: 5%;
	}
	nav h1 a {
		font-size: 2em;
		letter-spacing: .5em;
	}
}
@media only screen and (min-width: 820px) {
	#restaurants-list li {
		width: 25%;
	}
	body {
		margin: 8%;
	}
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

body {
	font-size: 14pt;
	display: inline-flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
	background-color: #fdfdfd;
	padding: 0;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}
#footer {
  width: 100%;
  padding: 1em 0 4em 0;
  background-color: #444;
  color: #aaa;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Header ====================== */
header{
	padding: 0 0 5 0;
	margin: 0;
	width: 100%;
  background-color: #252831;
}
/* ====================== Navigation ====================== */
nav {
	margin: 0;
	padding: 0;
  width: 100%;
	text-align: center;
  background-color: #252831;
}
nav h1 a {
  color: #fff;
  font-weight: 200;
	text-align: center;
	justify-content: center;
  text-transform: uppercase;
}
#breadcrumb {
	  position: sticky;
    padding: 0;
    list-style: none;
    background-color: #eee;
    font-size: 2.5em;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 0;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map-container {
 padding: 0;
 margin: 0;
}
#map {
  height: 40em;
	margin: 0;
	padding: 0;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
	display: flex;
	flex-wrap: wrap;
	padding-top: .5em;
	align-items: center;
	justify-content: center;
	height: auto;
  width: 100%;
  background-color: #3397DB;
	position: relative;
}
.filter-options h2 {
	width: 100%;
	text-align: center;
  color: white;
  font-size: 200%;
  font-weight: normal;
	letter-spacing: .5em;
  margin: 0;
}
.filter-options select {
	align-self: center;
  background-color: white;
  border: .5em solid #fff;
  font-family: Arial,sans-serif;
  font-size: 2em;
  letter-spacing: 0;
  margin: .8em;
  padding: 0;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	align-items: center;
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
  background-color: #f3f3f3;
	margin: 0;
	padding: 0;
  text-align: center;
}
#restaurants-list li {
  margin-top: 5%;
	min-height: 500px;
	position: relative;
  background-color: #fff;
  border: .2em solid #ccc;
  font-family: Arial,sans-serif;
	padding: 0;
	align-items:flex-start;
	display: flex;
	flex-wrap: wrap;
  text-align: center;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
	padding: 0;
	margin: 0;
	position: relative;
	width: 100%;
}
#restaurants-list li h1 {
	width: 100%;
  color: #f18200;
	flex-shrink: 3;
  font-family: Arial,sans-serif;
  font-size: 100%;
  font-weight: 200;
  text-transform: uppercase;
}
#restaurants-list p {
	width: 100%;
  margin: 0;
  font-size: 100%;
}
#restaurants-list li a {
	flex-shrink: 3;
	width: 100%;
	position: static;
  background-color: orange;
	justify-content: flex-end;
  color: #fff;
	margin-top: 1em;
	padding: 5%;
	letter-spacing: .5em;
  display: inline-block;
  font-size: 1em;
	font-weight: bold;
  text-align: center;
  text-decoration:none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside body {
	font-size: 2em;
}
.inside header {
  position: static;
  top: 0;
  width: 100%;
}
.inside #maincontent {
	background-color: #222;
}
.inside #map-container {
	position: sticky;
  background: blue none repeat scroll 0 0;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: static;
  width: 100%;
}
#restaurant-name {
	text-align: left;
  color: #f18200;
	letter-spacing: .5em;
  font-family: Arial,sans-serif;
  font-size: 200%;
  font-weight: 200;
  margin: 1em 0em 1em 1em;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	margin-top: 1em;
	width: 100%;
}
#restaurant-address {
 text-align: center;
 letter-spacing: .5em;
 color: white;
 font-size: 2em;
 margin: 1em 0em;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 2em;
  padding: 1em 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
}
#reviews-container {
	flex-direction: row;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 2em;
  font-weight: 300;
}
#reviews-list {
	align-content: center;
	align-items: stretch;
	width: 80%;
  margin: 1em;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 1em solid #f3f3f3;
  display: inline-block;
  list-style-type: none;
	overflow: visible;
  padding: 0 0 2em;
  position: relative;
  width: 100%;
	font-size: 2em;
}
#reviews-list li p {
	flex-direction: column;
}
#restaurant-hours td {
	letter-spacing: .3em;
	width: 40%;
	justify-content: space-around;
	padding: .5em;
	background-color: #666;
  color: white;
	align-items: center;
	text-align: justify;
	font-size: 1.5em;
}
