@charset "utf-8";
/* CSS Document */

/* Responsive */
@media only screen and (max-width: 600px) {
	#restaurants-list li {
 		width: 100%;
 	}
	nav h1 a {
		font-size: 1.2em;
		letter-spacing: .2em;
		text-align: left;
	}
}
@media only screen and (min-width: 601px) {
	#restaurants-list li {
		width: 48%;
	}
	nav h1 a {
		text-align: center;
		font-size: 2em;
		letter-spacing: .4em;
	}
}
@media only screen and (min-width: 763px) {
	#restaurants-list li {
		width: 48%;
	}
	body, .inside body {
		margin: 5%;
	}
	nav h1 a {
		font-size: 2em;
		letter-spacing: .6em;
	}
}
@media only screen and (min-width: 855px) {
	#restaurants-list li {
		width: 25%;
	}
	body, .inside body {
		margin: 10%;
	}
	nav h1 a {
		font-size: 2em;
		letter-spacing: .8em;
	}
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
body {
	font-size: 14pt;
	display: inline-flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
	background-color: #fdfdfd;
	padding: 0;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}
#footer {
	z-index: 2;
	position: sticky;
  width: 100%;
  padding: 1em 0 4em 0;
  background-color: #444;
  color: #aaa;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Header ====================== */
header{
	padding: 0;
	margin: 0;
	width: 100%;
  background-color: #252831;
}
/* ====================== Navigation ====================== */
nav {
	margin: 0;
	padding: 0;
  width: 100%;
	text-align: center;
	text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
	background: #252831;
  background: -moz-linear-gradient(left, #252831 0%, #CCCCCC 77%, #ADB4C9 100%);
  background: -webkit-linear-gradient(left, #252831 0%, #CCCCCC 77%, #ADB4C9 100%);
  background: linear-gradient(to right, #252831 0%, #CCCCCC 77%, #ADB4C9 100%);;
}
nav h1 a {
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
}
#breadcrumb {
    order: 2;
	  position: sticky;
    padding: 0;
    list-style: none;
    background-color: #eee;
    font-size: 1.5em;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 0;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map-container {
 padding: 0;
 margin: 0;
}
#map {
  height: 40em;
	margin: 0;
	padding: 0;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
	top: 0;
	position: sticky;
	z-index: 1;
	-webkit-box-shadow: inset 7px 22px 130px -29px rgba(250,246,242,1);
  -moz-box-shadow: inset 7px 22px 130px -29px rgba(250,246,242,1);
  box-shadow: inset 7px 22px 130px -29px rgba(250,246,242,1);
	display: flex;
	flex-wrap: wrap;
	padding-top: .5em;
	align-items: center;
	justify-content: center;
	height: auto;
  width: 100%;
  background-color: #3397DB;
}
.filter-options h2 {
	text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
	width: 100%;
	text-align: center;
  color: white;
  font-size: 200%;
  font-weight: normal;
	letter-spacing: .5em;
  margin: 0;
}
.filter-options select {
	-webkit-box-shadow: inset -7px 22px 130px -29px rgba(250,246,242,1);
  -moz-box-shadow: inset -7px 22px 130px -29px rgba(250,246,242,1);
  box-shadow: inset -7px 22px 130px -29px rgba(250,246,242,1);
	align-self: center;
  background-color: white;
  border: .5em solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1em;
  letter-spacing: 0;
  margin: .2em;
  padding: 0;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	align-items: flex-start;
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
  background-color: #f3f3f3;
	margin: 0;
	padding: 0;
  text-align: center;
}
#restaurants-list li {
  margin-top: 5%;
	min-height: 500px;
	position: relative;
  background-color: #fff;
  border: .2em solid #ccc;
  font-family: Arial,sans-serif;
	padding: 0;
	align-items:flex-start;
	display: flex;
	flex-wrap: wrap;
  text-align: center;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
	padding: 0;
	margin: 0;
	position: relative;
	width: 100%;
}
#restaurants-list li h1 {
	margin: 0;
	padding: 4%;
	width: 100%;
  color: #f18200;
	background-color: #222;
	flex-shrink: 3;
  font-family: Arial,sans-serif;
  font-size: 100%;
  font-weight: 200;
  text-transform: uppercase;
}
#restaurants-list p {
	width: 100%;
  margin: 0;
  font-size: 100%;
}
#restaurants-list li a {
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
	flex-shrink: 3;
	width: 100%;
	position: static;
  background-color: orange;
	justify-content: flex-end;
  color: #fff;
	margin-top: 1em;
	padding: 5%;
	letter-spacing: .5em;
  display: inline-block;
  font-size: 1em;
	font-weight: bold;
  text-align: center;
  text-decoration:none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
	order: 0;
  position: static;
  width: 100%;
}
.inside #maincontent {
	z-index: 2;
	position: relative;
	background-color: #222;
	flex-direction: row;
	width: 100%;

}
.inside #map-container {
	z-index: -1;
	top: 0;
	width: 100%;
	position: sticky;
	order: 4;
  background: blue none repeat scroll 0 0;
  width: 100%;
}
.inside #map {
	z-index: -1;
	float: left;
  background-color: #ccc;
  width: 100%;
}

#restaurant-name {
	z-index: 2;
	position: relative;
	background-color: #222;
	order: 3;
	float: left;
	height: 40%;
	width: 50%;
	text-align: left;
  color: #f18200;
	letter-spacing: .5em;
  font-family: Arial,sans-serif;
  font-size: 150%;
  font-weight: 200;
  margin: 0;
	padding: 0;
  text-transform: uppercase;
}
#restaurant-img {
	position: relative;
	float: right;
	z-index: 0;
	order: 2;
	margin-top: 1em;
	height: 80%;
	width: 50%;
}
#restaurant-address {
 z-index: 2;
 top:0;
 position: sticky;
 background-color: #222;
 float: left;
 text-align: center;
 letter-spacing: .5em;
 color: white;
 font-size: 2em;
 margin: 1em 0em 2em;
 width: 100%;
}
#restaurant-cuisine {
	z-index: 2;
	float: right;
  background-color: #333;
  color: #ddd;
  font-size: 1.8em;
  font-weight: 300;
  letter-spacing: .5em;
  margin: 0 0 2em;
  padding: 0;
  text-align: right;
  text-transform: uppercase;
	width: 50%;
	height: 20%;
}
#restaurant-container, #reviews-container {
	z-index: 2;
  width: 100%;
}
#reviews-container {
	flex-direction: row;
}
#reviews-container h2 {
	background-color: #222;
	padding: 5% 5% 5 0;
	z-index: 2;
	top: 0;
	width: 100%;
	text-align: center;
	position: sticky;
	letter-spacing: .2em;
  color: #f58500;
  font-size: 2em;
  font-weight: 300;
}
#reviews-list {
	width: 100%;
  margin: 2%;
}
#reviews-list li {
  background-color: #fff;
  border: .2em solid #f3f3f3;
  list-style-type: none;
	overflow: visible;
  padding: 0;
	margin: 0;
  position: relative;
	height: 30%;
  width: 85%;
	font-size: 1.5em;
}
#reviews-list li p {
	flex-direction: column;
}
#restaurant-hours td {
	z-index: 2;
	display: subgrid;
	letter-spacing: .1em;
	height: 100%;
	width: 30%;
	padding: .5em;
	background-color: #666;
  color: white;
	text-align: center;
	font-size: 1.8em;
}
