@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
body {
	display:inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #fdfdfd;
	margin: 0;
	padding: 0;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}
#maincontent {
	width: 100%;
  padding: 0;
	margin: 0;
  background-color: #444;
  color: #aaa;
  font-size: 1em;
  text-align: justify;
  text-transform: uppercase;
}
#footer {
  width: 100%;
  padding: 1em 0 4em 0;
  background-color: #444;
  color: #aaa;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Header ====================== */
header{
	padding: 0 0 5 0;
	margin: 0;
	width: 100%;
  background-color: #252831;
}
/* ====================== Navigation ====================== */
nav {
	margin: 0;
	padding: 0;
	height: auto;
  width: 100%;
	text-align: center;
  background-color: #252831;
}
nav h1 a {
	width: auto;
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: .5em;
	text-align: justify;
	justify-content: center;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 0;
    list-style: none;
    background-color: #eee;
    font-size: 1em;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 1em;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
	margin: 0;
	padding: 0;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
	align-items: center;
	justify-content: center;
	padding: 1em 0 0 0;
	height: 12em;
  width: 100%;
  background-color: #3397DB;
	position: static;
}
.filter-options h2 {
  color: white;
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
  margin: 1rem;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1rem;
  height: auto;
  letter-spacing: 0;
  margin: 1em;
  padding: 0 10px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	align-items: center;
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
  background-color: #f3f3f3;
  margin: 0;
  text-align: center;
	flex-direction: row;
}
#restaurants-list li {
  flex-basis: 50%;
	flex-shrink: 2;
	position: sticky;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 1rem;
	padding: 0;
	align-items: center;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
  text-align: center;
}
#restaurants-list .restaurant-img {
	flex: 1 1 auto;
  background-color: #ccc;
	position: sticky;
	width:100%;
}
#restaurants-list li h1 {
  color: #f18200;
	flex-shrink: 3;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  font-weight: 200;
	text-overflow: clip;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 10pt;
}
#restaurants-list li a {
	flex-shrink: 3;
	position: static;
  background-color: orange;
	justify-content: flex-end;
  color: #fff;
	margin-top: 1em;
	padding: 2em;
  display: inline-block;
  font-size: 1em;
  text-align: justify;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside body {
	font-size: 10pt;
}
.inside header {
  position: static;
  top: 0;
  width: 100%;
}
.inside #map-container {
	position: sticky;
  background: blue none repeat scroll 0 0;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: static;
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 1em 0 1em 0;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	margin-top: 1em;
	width: 100%;
}
#restaurant-address {
 font-size: 1em;
 margin: 1em 0em;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
}
#reviews-container {
}
#reviews-container h2 {
  color: #f58500;
  font-size: 2em;
  font-weight: 300;
  padding-bottom: 1em;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 1em solid #f3f3f3;
  display: block;
  list-style-type: none;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
	height: 5em;
}
#reviews-list li p {
}
#restaurant-hours td {
  color: #666;
}
